.outerContainer {
    @apply flex w-full mt-auto;
}

.innerContainer {
    @apply flex mob:justify-evenly justify-between text-center px-3 sm:px-8 py-1 sm:py-2 relative w-full flex-row items-center;
    @apply mt-16 sm:mt-24;
}

.privacy {
    @apply !text-2xl sm:!text-3xl;
}

.home,
.terminal {
    @apply hover:cursor-pointer;
}

.home *,
.terminal * {
    @apply text-white !text-5xl;
}

.home {
    @apply sm:hidden;
}

.terminal {
    @apply mob:hidden;
}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(100%);
    margin: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
    transform: rotateY(180deg);
}

.innerContainer,
.divider .shapeFill {
    @apply bg-blue-700 fill-blue-700 transition-colors duration-500;
}

:global(.dark) .innerContainer,
:global(.dark) .divider .shapeFill {
    @apply bg-gray-600 fill-gray-600;
}
