.previewTransition,
.previewTransition * {
    @apply transition-all duration-500;
    @apply select-none;
}

.previews {
    @apply flex w-full sticky h-min;
}

.previewSide {
    @apply w-0 sm:w-[min(20%,500px)];
    @apply mob:overflow-hidden;
}

.previewSideHidden {
    @apply w-0 !m-0;
}

.previewSideHidden * {
    @apply !text-[0px];
}

.previewSide > div > * {
    @apply !w-full;
}

.container {
    @apply flex flex-col w-full transition-all;
}

.container:hover .holder {
    @apply grayscale-[80%];
}

.column {
    @apply flex flex-row w-full;
    @apply transition-all duration-300;
}

.column > * {
    @apply shadow-3xl;
}

.column:first-of-type > *:first-child {
    @apply sm:!rounded-tl-[2rem];
}
.column:first-of-type > *:last-child {
    @apply sm:!rounded-tr-[2rem];
}
.column:last-of-type > *:first-child {
    @apply sm:!rounded-bl-[2rem];
}
.column:last-of-type > *:last-child {
    @apply sm:!rounded-br-[2rem];
}

.previewSide .column:first-of-type > *:first-child {
    @apply sm:!rounded-tl-[1rem];
}
.previewSide .column:first-of-type > *:last-child {
    @apply sm:!rounded-tr-none;
}
.previewSide .column:last-of-type > *:first-child {
    @apply sm:!rounded-bl-[1rem];
}
.previewSide .column:last-of-type > *:last-child {
    @apply sm:!rounded-br-none;
}

.link {
    @apply absolute flex w-full h-full;
}

.holder {
    @apply z-[5] grow;
}

.column:not(:first-of-type) .holder {
    @apply overflow-hidden;
}

.holder:not(.clickable) {
    @apply !w-0 grow-0;
}

.holder,
.holder * {
    @apply flex h-full relative justify-center items-center duration-[250ms];
}

.holder svg {
    @apply transition-all duration-300;
    font-size: min(10vw, 7.5rem);
}
.previewSide svg {
    @apply m-1;
    font-size: min(2.5vw, 2rem);
}

div.clickable:last-of-type {
    @apply grow;
}

.backImage {
    @apply z-[-5];
}

.frontholder {
    @apply flex absolute w-full h-full opacity-0;
}

.clickable:hover {
    @apply cursor-pointer rounded-[2rem] z-10;
    @apply scale-[1.05] !grayscale-0;
    box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}
:global(.dark) .clickable:hover {
    box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px rgb(235, 230, 169),
        /* outer left magenta */ 10px 0 80px rgb(211, 205, 156); /* outer right cyan */
}

:global(.dark) .iconHolder {
    @apply !bg-slate-700;
}

.iconHolder::before {
    @apply sm:content-[attr(data-name)] absolute bottom-full;
    @apply flex justify-center items-center;
    @apply h-0 overflow-hidden transition-all origin-bottom rounded-lg;
    @apply bg-transparent text-3xl text-white font-bold;
}
:global(.dark) .iconHolder::before {
    @apply font-normal;
}
.previewSide .iconHolder:last-of-type:before {
    @apply right-0;
}
.iconHolder:hover::before {
    @apply h-5 m-3 p-3;
}

.holder:not(.iconHolder)::before {
    @apply content-[attr(data-date)] absolute right-0 top-0 p-1 sm:p-2;
    @apply text-sm sm:text-2xl rounded-bl-md sm:rounded-bl-2xl shadow-2xl;
    @apply bg-gradient-to-bl from-orange-300 to-fuchsia-500 shadow-xl;
    @apply transition-all duration-[250ms];
}
:global(.dark) .holder:not(.iconHolder)::before {
    @apply from-slate-800 to-slate-800;
}

.clickable:hover.holder:not(.iconHolder)::before {
    @apply text-lg sm:text-3xl pr-3 sm:pr-4 pt-2 sm:pt-3;
}

.previewSide .holder:not(.iconHolder)::before {
    @apply opacity-0;
}
