.container {
    --radius: 30rem;
    --mob-radius: 13rem;
    --largeRadius: 35rem;
    --mob-largeRadius: 18rem;
    transform: translate(30%, -30%);
}

.inBar {
    --radius: 15rem;
    --mob-radius: 7rem;
    --largeRadius: 24rem;
    --mob-largeRadius: 14rem;
    transform: translate(30%, -20%);
    @apply z-[-1];
}

.sun,
.moon {
    @apply absolute top-0 right-0 flex hover:cursor-pointer;
    @apply transition-all duration-700 ease-in-out rounded-full;
    @apply w-[var(--mob-radius)] h-[var(--mob-radius)] sm:w-[var(--radius)] sm:h-[var(--radius)];
    @apply hover:w-[var(--mob-largeRadius)] hover:h-[var(--mob-largeRadius)] sm:hover:w-[var(--largeRadius)] sm:hover:h-[var(--largeRadius)];
}

.mask {
    @apply content-[''];
}

.mask.sun::after,
.mask.moon::after {
    content: '';
    @apply flex w-3/4 h-3/4 bg-black rounded-full;
    @apply absolute left-[-4rem] top-4 transition-all duration-300;
}

.mask.inBar {
    @apply after:bg-gray-600 after:content-[''];
}

.sun {
    box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
        /* inner left magenta short */ inset -20px 0 80px #0ff,
        /* inner right cyan short */ inset 20px 0 300px #f0f,
        /* inner left magenta broad */ inset -20px 0 300px #0ff,
        /* inner right cyan broad */ 0 0 50px #fff,
        /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
    @apply bg-orange-300;
}

.mask.sun {
    @apply after:w-0 after:h-0;
}

.moon {
    @apply bg-yellow-100;
}
