.container {
    @apply flex justify-between text-center mt-24 px-8 py-2 relative w-full flex-row items-center;
}

.textLink {
    @apply text-white after:bg-white text-2xl;
}

.terminal {
    @apply hover:cursor-pointer;
}

.privacy {
    @apply !text-3xl;
}

.terminal * {
    @apply text-white !text-5xl;
}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(100%);
    margin: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
    transform: rotateY(180deg);
}

.container,
.divider .shapeFill {
    @apply bg-blue-700 fill-blue-700 transition-colors duration-500;
}

:global(.dark) .container,
:global(.dark) .divider .shapeFill {
    @apply bg-gray-600 fill-gray-600;
}

.clap {
}

.terminal {
}
