.previewTransition,
.previewTransition * {
    @apply transition-all duration-500;
    @apply select-none;
}

.previews {
    @apply flex w-full sticky shadow-xl h-min;
}

.previewSide {
    @apply w-[20%];
}

.previewSideHidden {
    @apply w-0;
}

.previewSide > div > * {
    @apply !w-full;
}

.container {
    @apply flex flex-col w-full;
}
:global(.dark) .container {
    @apply opacity-90;
}

.container:hover .holder {
    @apply grayscale-[80%];
}

.column {
    @apply flex flex-row w-full;
    @apply transition-all duration-300;
}

.link {
    @apply absolute flex w-full h-full;
}

.holder {
    @apply z-[5] grow overflow-hidden;
}

.holder:not(.clickable) {
    @apply !w-0 grow-0;
}

.holder,
.holder * {
    @apply flex h-full relative justify-center items-center duration-[250ms];
}

.holder svg {
    @apply transition-all duration-300;
    font-size: min(10vw, 7.5rem);
}
.previewSide svg {
    @apply m-1;
    font-size: min(2.5vw, 2rem);
}

div.clickable:last-of-type {
    @apply grow;
}

.backImage {
    @apply z-[-5];
}

.frontholder {
    @apply flex absolute w-full h-full opacity-0;
}

.clickable:hover {
    @apply cursor-pointer rounded-[2rem] z-10;
    @apply scale-[1.05] !grayscale-0;
    box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}
:global(.dark) .clickable:hover {
    box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
        /* inner left magenta short */ inset -20px 0 80px #0ff,
        /* inner right cyan short */ inset 20px 0 300px #f0f,
        /* inner left magenta broad */ inset -20px 0 300px #0ff,
        /* inner right cyan broad */ 0 0 50px #fff,
        /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.clickable:hover .frontholder {
    @apply opacity-100;
}
