.icon {
    @apply flex justify-center items-center text-white transition-all duration-200;
}

.icon::after {
    @apply !bg-transparent;
}

.icon path {
    @apply transition-all duration-200;
    stroke: white;
    stroke-width: 0px;
    stroke-linejoin: round;
}

.icon:hover {
    @apply !text-opacity-0;
}

.icon:hover path {
    stroke-width: 1px;
}
