@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #b7b7d0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23776397' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233F4176'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    @apply transition-all;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #0087ca;
    font-weight: bold;
    @apply hover:cursor-pointer;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

* {
    box-sizing: border-box;
}

.shade {
    @apply flex fixed w-[100vw] h-[100vh] bg-black transition-all duration-500 z-[100];
}
.shadeHidden {
    @apply opacity-0;
    @apply pointer-events-none;
}

.cubeHolder {
    @apply flex flex-col justify-center items-center;
    perspective: 600px;
}

.cube {
    @apply w-[100vw] h-[100vh] relative m-auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
        rotateX(-90deg);
}

@keyframes spin-0 {
    0% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg);
        animation-timing-function: cubic-bezier(0.275, 0.505, 0, 1.585);
    }
    40% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(0.5, 0.5);
    }
    50% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(0.5, 0.5);
        animation-timing-function: cubic-bezier(0.89, -0.75, 0.255, 1.26);
    }
    90% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg);
    }
    100% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(1, 1);
    }
}

.cube-0-animating {
    animation: spin-0 1100ms;
}

.cube-1 {
    transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) translateY(50%)
        rotateX(-90deg);
}

@keyframes spin-1 {
    0% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg);
        animation-timing-function: cubic-bezier(0.275, 0.505, 0, 1.585);
    }
    40% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(0.5, 0.5);
    }
    50% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(0.5, 0.5);
        animation-timing-function: cubic-bezier(0.89, -0.75, 0.255, 1.26);
    }
    90% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg);
    }
    100% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(1, 1);
    }
}

.cube-1-animating {
    animation: spin-1 1100ms;
}

.screen {
    @apply absolute left-0 right-0 flex h-fit min-h-[100vh] justify-center align-middle origin-bottom;
    @apply outline-[16px] outline-white overflow-hidden;
}

.screen-1 {
    transform-origin: center bottom;
    transform: translateY(-100%) rotateX(90deg);
}

.screen > div {
    @apply flex w-full h-full;
}
