@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-gradient-to-tr from-gray-100 to-gray-300;
    @apply transition-all dark:bg-black;
}

* {
    @apply selection:bg-orange-200 selection:bg-opacity-80;
}

*::selection {
    -webkit-text-fill-color: #fff;
}

a,
.clickableText {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
    @apply text-blue-600 hover:cursor-pointer;
}

a::after,
.clickableText::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after,
.clickableText:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

* {
    box-sizing: border-box;
}

.shade {
    @apply flex fixed w-[100vw] h-[100vh] bg-black transition-all duration-500 z-[100];
}
.shadeHidden {
    @apply opacity-0;
    @apply pointer-events-none;
}

.cubeHolder {
    @apply flex flex-col justify-center items-center;
    perspective: 600px;
}

.cube {
    @apply w-[100vw] h-[100vh] relative m-auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
        rotateX(-90deg);
}

@keyframes spin-0 {
    0% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg);
        animation-timing-function: cubic-bezier(0.275, 0.505, 0, 1.585);
    }
    40% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(0.5, 0.5);
    }
    50% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(0.5, 0.5);
        animation-timing-function: cubic-bezier(0.89, -0.75, 0.255, 1.26);
    }
    90% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg);
    }
    100% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(1, 1);
    }
}

.cube-0-animating {
    animation: spin-0 1100ms;
}

.cube-1 {
    transform: rotateX(90deg) translateY(-50%) rotateX(-90deg) translateY(50%)
        rotateX(-90deg);
}

@keyframes spin-1 {
    0% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg);
        animation-timing-function: cubic-bezier(0.275, 0.505, 0, 1.585);
    }
    40% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(0.5, 0.5);
    }
    50% {
        transform: rotateX(90deg) translateY(-50%) rotateX(0deg) translateY(50%)
            rotateX(-90deg) scale(0.5, 0.5);
        animation-timing-function: cubic-bezier(0.89, -0.75, 0.255, 1.26);
    }
    90% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg);
    }
    100% {
        transform: rotateX(90deg) translateY(-50%) rotateX(-90deg)
            translateY(50%) rotateX(-90deg) scale(1, 1);
    }
}

.cube-1-animating {
    animation: spin-1 1100ms;
}

.screen {
    @apply absolute left-0 right-0 flex h-[100vh] justify-center align-middle origin-bottom overflow-hidden;
}

.screen-1 {
    transform-origin: center bottom;
    transform: translateY(-100%) rotateX(90deg);
}

.screen > div {
    @apply flex w-full h-full;
}
